{% extends 'AirSimSocialNetworkBundle:Default:layoutInner.html.twig' %}

{% block pageStylesheets %}
    <link href = "{{ asset('assets/css/chat.css') }}" type = "text/css" rel = "stylesheet" media = "screen" />
{% endblock pageStylesheets %}

{% block pageJavaScripts %}
    <script src ="{{ asset('assets/js/availableChats.js') }}" type = "text/javascript"></script>
{% endblock pageJavaScripts %}

{% block uniqueContent %}
    <div class = "availableChatsWrapper">
        <div class = "availableChatsContent">
            <section class = "availableChats">
                <input type = "button" class = "submitButton" value = "Create chat"/>
                <input type = "button" class = "submitButton" value = "Delete chats"/>
                <ul>
                    {% for chat in availableChats %}
                        <a href = "chat_room?id={{ chat.chatId }}">
                            <li {% if chat.messageIsRead == 0 %}class = "unread"{% endif %}>
                                {% if chat['contactWebProfilePic'] %}
                                    <img src = "{{ asset('public_files/'~chat['contactUsername'])~'/albums/profile_pics/'
                                    ~chat['contactWebProfilePic'] }}" class = "authorPic"/>
                                {% else %}
                                    <img src = "{{ asset('public_files/default/noAvatarMale.png') }}" class = "authorPic"/>
                                {% endif %}
                                <span class = "author">{{ chat.contactName }} {{ chat.contactFamily }}</span><br/>
                                <span class = "dateTime">{{ chat.messageSentTime }}</span><br/>
                                <span class = "message">{{ chat.chatMessage }}</span>
                            </li>
                         </a>
                    {% endfor %}
                </ul>
            </section>
        </div>
     </div>
{% endblock %}